@charset "utf-8";
@import url("reset.css");
html {
  scroll-behavior: smooth;
}
body nav {
	width: 100%;
	height: 60px;
	display: flex;
	background-color: #F4F3F3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}
body nav h1 {
	color: #78C490;
	font-size: xx-large;
	margin-left: 50px;
	text-align: center;
}
nav ul li {
  color: #254E5E;
  display: inline;
  margin-left: 10px;
  font-weight: bolder;
}
nav a:link {
  color: #1C3C48;
  font-weight: 100;
  text-decoration: none;
}
nav a:visited {
	color: #1C3C48;
	font-weight: 100;
	text-decoration: none;
	background-position: center center;
}
nav a:hover {
  color: #9D9B99;
  font-weight: 100;
  text-decoration: none;
}
nav ul {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}
body header {
	width: 100%;
	height: 100vh;
	background-image: url(heroimage.bmp);
	display: flex;
	background-position: center center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-origin: border-box;
	background-size: cover;
}
#a01 {
	text-align: center;
	font-size: 30px;
	border-top-style: dashed;
	background-color: #92494A;
	border-top-left-radius: 15px;
	height: 40px;
	color: #F7F3F3;
	padding-top: 10px;
}
.container {
	display: flex;
	width: 90%;
	height: 360px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: thin;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}
.container .container01 {
    display: flex;
    flex: 1;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 20px;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
}
.container .container02 {
	display: flex;
	flex: 1;
	background-image: url(19.jpg);
	background-size: cover;
	background-position: right top;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	border-radius: 20px;
	align-items: stretch;
	justify-content: flex-end;
	flex-direction: column;
}
.container .container03 {
  display: flex;
  flex: 1;
  background-size: cover;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  background-image: url(oneheart.jpg);
  background-position: center center;
	align-items: stretch;
	justify-content: flex-end;
	flex-direction: column;
}
#a02 {
	text-align: center;
	font-size: 30px;
	border-top-style: dashed;
	background-color: #92494A;
	border-top-left-radius: 15px;
	height: 40px;
	color: #D6BFBF;
	padding-top: 10px;
}

#a03 {
  text-align: center;
  font-size: 30px;
  border-top-style: dashed;
  background-color: #92494A;
  border-top-left-radius: 15px;
  height: 40px;
	color: #F7F3F3;
	padding-top: 10px;
}
#a04 {
 text-align: center;
  font-size: 30px;
  border-top-style: dashed;
  background-color: #92494A;
  border-top-left-radius: 15px;
  height: 40px;
color: #F7F3F3;
	padding-top: 10px;
}
#a05 {
  text-align: center;
  font-size: 30px;
  border-top-style: dashed;
  background-color: #92494A;
  border-top-left-radius: 15px;
  height: 40px;
color: #F7F3F3;
	padding-top: 10px;
	}	
.container04 {
	display: flex;
	width: 90%;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-around;
	margin-top: 15px;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 35px;
}	

.container04 .left {
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: justify;
	flex: 1;
	font-size: larger;
	text-indent: 10px;
}
.container04 .right {
    background-image: url(25);
    background-position: center center;
    flex: 1;
    padding-right: 15px;
    border-radius: 18px;
    background-size: cover;
    height: 240px;
    width: 90%;
}
.h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: large;
	background-attachment: fixed;
}
#a02 a:link  {
	color: #F0E6D5;
	text-decoration: none;
	background-size: cover;
}
#a02 a:hover {
	text-decoration: none;
	color: #EAE7ED;
	border-top-color: #60C9BD;
	font-size: xx-large;
}
.container05 {
    width: 90%;
    display: flex;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .container01 div {
	text-align: center;
	font-size: x-large;
	opacity: 0.8;
	padding-right: 9px;
	padding-left: 9px;
	color: #1B3B47;
	text-decoration: none;
	font-weight: bolder;
	height: 30px;
	background-color: #F9F5F5;
}
.container .container02 div {
text-align: center;
	font-size: x-large;
	opacity: 0.8;
	padding-right: 9px;
	padding-left: 9px;
	color: #1B3B47;
	text-decoration: none;
	font-weight: bolder;
	height: 30px;
	background-color: #F9F5F5;
	}.container .container03 div {
text-align: center;
	font-size: x-large;
	opacity: 0.8;
	padding-right: 9px;
	padding-left: 9px;
	color: #1B3B47;
	text-decoration: none;
	font-weight: bolder;
	height: 30px;
	background-color: #F9F5F5;
	}
.container06 {
	width: 90%;
	display: flex;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding-top: 25px;
	flex-direction: column;
	align-items: center;
	font-size: x-large;
	text-align: center;
	list-style-type: hiragana;
}
.promote {
	width:auto;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
}
div div a:link {
    text-decoration: none;
    color: #6C74C5;
    font-size: x-large;
}
div div a:hover {
    text-decoration: none;
    color: #C877D7;
    font-size: x-large;
    background-color: #EBE4E7;
	
}
.promote .facebook {
    display: flex;
    flex: 1;
    background-image: url(facebook.png);
    background-position: center center;
    background-size: 100%;
    width: 60%;
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.promote .facebook:hover {
    transform: scale(1.05);
}
.promote .pixnet {
    display: flex;
    flex: 1;
    background-image: url(blog.jpg);
    background-position: center top;
    background-size: 150%;
    width: 60%;
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.promote .pixnet:hover {
    transform: scale(1.05);
}
.promote .newspaper {
    display: flex;
    flex: 1;
    background-image: url(newspaper.jpg);
    background-position: left top;
    background-size: 100%;
    width: 60%;
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
	}
	.promote .newspaper:hover {
    transform: scale(1.05);
}
.promote div {
    text-decoration: none;
    color: #6C74C5;
    font-size: x-large;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #454545;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #E6E6E6;
}
.container06 .fish {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 95px;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
	border-collapse: separate;
}
.pool div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;	
}
.trip div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
}
.workshop div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
}
.art div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
}
.neighbor div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
}
.container06 .pool {
	display: flex;
	margin: 15;
	width: 95px;
	justify-content: center;
	align-items: center;
	border-top-width: medium;
	text-align: inherit;
}
.container06 .neighbor {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
}
.container06 .trip {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
}
.container06 .workshop {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
}
.container06 .art {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
}
.fish div img {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
}
.container06 h3 {
	color: #2BBB59;
	font-size: xx-large;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #DAC2A8;
	border-top: thin ridge #BC4B4D;
	border-bottom-width: 19px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
